<div class="container-fluid">
    <app-navigation [restaurant]="restaurant"></app-navigation><br>

    <div class="container">
        <div class="row">
            <div class="col col-lg-3 col-md-4 col-sm-6 col-12" *ngFor="let menu of menus">
                <a [routerLink]="['/menu-details']" [queryParams]="{_id: menu._id}" class="d-inline-block" style="text-decoration: none;">
                    <div class="card text-white bg-dark mb-3 menu-card" style="max-width: 18rem;">
                        <div class="card-body d-flex flex-column align-items-center justify-content-center">
                            <h5 class="card-title">{{menu.name}}</h5>
                        </div>
                        <div class="card-footer text-center custom-footer">
                            <small class="text-body-secondary">
                                <span class="text-white">Last edited: {{formatDate(menu.lastEdited)}}</span>
                            </small>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col col-lg-3 col-md-4 col-sm-6 col-12">
                <div  class="d-inline-block" >
                    <div class="card text-white bg-dark mb-3 menu-card" style="max-width: 18rem;" >
                        <div class="card-body d-flex flex-column align-items-center justify-content-center" >
                            <h5 class="card-title" (click)="modal.openModal()" id="create-menu"><i class="bi bi-plus-circle" style="font-size: 2rem;"></i></h5>
                            <app-modal-create-menu #modal [restaurantId]="restaurant._id" (modalClosed)="getRestaurantMenus()"></app-modal-create-menu>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-footer></app-footer>
</div>