<div class="container-fluid">
    <app-navigation [restaurant]="restaurant"></app-navigation><br>
    <div class="container">
        <div class="row">
            <div class="col-xxl-2 col-lg-4 col-md-6 col-sm-6 col-12" *ngFor="let review of reviews">
                <div class="card border-info mb-3">
                    <div class="card-header text-center">{{review.userEmail}}</div>
                    <div class="card-body">
                        <h5 class="card-title text-center"><app-rating [rating]="review.rating"></app-rating></h5>
                        <p class="card-text">{{review.comment}}</p>
                    </div>
                    <div class="card-footer">
                        {{formatDate(review.date)}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>