<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel"  *ngIf="reviews.length > 0">
    <div class="carousel-inner">
        <div class="carousel-item active text-center">
            <p><app-rating [rating]="reviews[0].rating"></app-rating></p>
            <p>{{reviews[0].comment}}</p>
          </div>
          <div class="carousel-item text-center" *ngFor="let review of reviews.slice(1)">
            <p><app-rating [rating]="review.rating"></app-rating></p>
            <p>{{review.comment}}</p>
          </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>