<p class="menu-item">
    <span><span class="h5">{{menuItem.name}}</span>&nbsp; <span class="text-body-secondary">({{menuItem.quantity}} {{menuItem.unitOfMeasure}})</span> <span>{{menuItem.tags}}</span></span>
    <span id="price">
        <span class="h6">{{menuItem.price}} {{menu.currency}} &nbsp; &nbsp;
            <a (click)="modal.openModal()"><i class="bi bi-pencil-square" style="color: green;"></i></a>
        </span>
        &nbsp;&nbsp;
        <span>
          <!-- Delete -->
          <a (click)="modalDelete.openModal()"><i class="bi bi-trash3-fill" style="color: rgb(255, 0, 0);"></i></a>
          <app-modal-delete #modalDelete [menu]="menu" [menuItemIndex]="menuItemIndex" [submenuIndex]="submenuIndex" [page]="page" [type]="3"></app-modal-delete>
        </span>
        <app-modal-edit-menu-item #modal [menuItem]="menuItem" [menu]="menu"></app-modal-edit-menu-item>
    </span>
</p>
<span class="text-body-tertiary" style="font-size: 16px;">{{menuItem.details}}</span>